Source: genkernel
Section: unknown
Priority: extra
Maintainer: Jean-François Richard <trucker@genkernel.org>
Build-Depends: debhelper (>= 5), asciidoc (>= 8), xsltproc (>= 1), docbook-xml (>= 4), docbook-xsl (>= 1.6)
Standards-Version: 3.7.2

Package: genkernel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, build-essential
Description: Flexible platform for generating kernel, initramfs images
 Genkernel is designed to allow users who are not previously used to
 compiling a kernel to use a similar setup to that one that is used on
 the LiveCDs which auto-detects your hardware.

 Some users may also be interested in using genkernel for hardware
 which requires initialization and a working kernel before it can be
 booted because genkernel also automatically compiles your kernel
 modules, allowing hardware which needs to be loaded with module
 parameters to be used — genkernel's initramfs is flexible and
 supports a variety of systems such as LVM2, EVMS, UnionFS, LUKS, as
 well as various netbooting options.
